body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Noto Sans Mono", monospace;
}

.container-general {
  font-family: "Noto Sans Mono", monospace;
  padding: 6rem;
  border: 2px solid black;
  border-radius: 2rem;
  background-image: radial-gradient(
    circle at 50% 48.13%,
    #8ad4fe 0,
    #68c5f8 25%,
    #3cb5f2 50%,
    #00a5ec 75%,
    #0096e7 100%
  );
}
